@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: Involve, sans-serif;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
    color: #020202;
    min-width: 1280px;
}
.body::-webkit-scrollbar {
    display: none;
}

@layer components {
    .container {
        min-width: 1280px;
        width: 1280px;
        margin-left: auto;
        margin-right: auto;
        padding-left: theme('padding.4');
        padding-right: theme('padding.4');
    }
}

.scout-card-gradient {
    background: linear-gradient(318.27deg, #FAED88 2.11%, rgba(71, 163, 196, 0.5) 50.36%, rgba(71, 163, 196, 0) 100.36%);
}

@layer base {
    @font-face {
        font-family: 'Involve';
        src: url('/fonts/Involve/Involve-Regular.ttf') format('truetype');
        font-weight: 400;
    }

    @font-face {
        font-family: 'Involve';
        src: url('/fonts/Involve/Involve-Medium.ttf') format('truetype');
        font-weight: 500;
    }

    @font-face {
        font-family: 'Involve';
        src: url('/fonts/Involve/Involve-SemiBold.ttf') format('truetype');
        font-weight: 600;
    }

    @font-face {
        font-family: 'Involve';
        src: url('/fonts/Involve/Involve-Bold.ttf') format('truetype');
        font-weight: 700;
    }
}